.box {
    position: fixed;
    top: 0;
    bottom: 25%;
    left: 0;
    right: 0;
    z-index: 99;
}

.back {
    text-decoration: none;
    color: white;
    position: fixed;
    top: 2rem;
    left: 2rem;
    transition: all 0.3s ease;
    z-index: 299;
}

.back:hover {
    opacity: 0.6;
}

.people {
    width: 65rem;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.explain {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--bg-color);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: nm;
    color: var(--base-font);
    font-size: 2rem;
    animation: hide 2s ease 2s;
    text-align: center;
}

.detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    z-index: 9999;
    transition: all 0.5s ease;
}

.CrossIcon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.line {
    display: inline-block;
    width: 32px;
    background: white;
    height: 4px;
}

.line:nth-child(1) {
    transform: rotate(45deg) translateY(1px);
}

.line:nth-child(2) {
    transform: rotate(315deg) translateY(-3px);
}

.Content {
    color: white;
    padding: 5rem 3rem;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    overflow-y: auto;
}

.detail.close {
    top: 150%;
}

.Desc, .reason {
    font-size: 1.5rem;
}

.head {
    font-size: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.btnn {
    text-decoration: none;
    font-size: 1.2rem;
    color: wheat;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.75rem 1.25rem;
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 870px) {
    .people {
        width: 50rem;
        bottom: 10%;
    }
}

@media screen and (max-width: 650px) {
    .people {
        width: 40rem;
        bottom: 20%;
    }
}

@media screen and (max-width: 525px) {
    .people {
        width: 30rem;
        bottom: 25%;
    }
}

@media screen and (max-width: 380px) {
    
    .box {
        bottom: 0;
    }
    
    .people {
        width: 22rem;
        bottom: 15%;
    }
}