.hero {
    background: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.LandingAnimation {
    width: 100vw;
    height: auto;
}

@media screen and (max-width: 700px) {
    .LandingAnimation {
        width: 100vw;
    }
}