.nav {
    color: var(--text-primary);
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background: var(--bg-primary);
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 4px 15px var(--shadow-secondary);
    z-index: 99;
}

.logo {
    font-size: var(--font-base);
}

.logo span {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links {
    font-size: var(--font-xs);
    background: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    transition: all 0.5s ease;
}

.link {
    cursor: pointer;
    position: relative;
    transition: all 1s ease;
    text-decoration: none;
    color: var(--text-primary);
}

.link:hover {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link::before {
    content: "";
    width: 0;
    height: 4px;
    background: var(--gradient-primary);
    position: absolute;
    bottom: -4px;
    transition: 0.3s ease;
}

.link:hover::before {
    width: 30%;
}

.link.active {
    background: var(--gradient-primary);
    color: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--font-xs);
}

.link.active::before {
    content: "";
    width: 30%;
    height: 4px;
    background: var(--gradient-primary);
    position: absolute;
    bottom: -4px;
}

.hamburger {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    z-index: 99;
}

.hamburger .line {
    width: 20px;
    height: 2px;
    background: var(--text-primary);
    transition: all 0.3s ease;
}

.hamburger.open .line:nth-child(1) {
    transform: rotateZ(45deg) translateY(8px);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(3) {
    transform: rotateZ(-45deg) translateY(-8px);
}



/* mobile  */

@media screen and (max-width: 677px) {

    .hamburger {
        display: flex;
    }

    .links {
        position: fixed;
        background: var(--bg-primary);
        height: 100vh;
        flex-direction: column;
        padding-top: 64px;
        top: 0;
        left: -150%;
        z-index: 9;
        width: 50vw;
        gap: 64px;
        box-shadow: 5px 0 15px var(--shadow-secondary);
    }

    .link {
        font-size: var(--font-base);
    }

    .link.active {
        font-size: var(--font-base);
    }

    .links.open {
        left: 0;
    }
}

@media screen and (max-width: 512px) {
    
    .links {
        width: 70vw;
    }
}

@media screen and (max-width: 400px) {

    .links {
        width: 100vw;
    }
}