.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: transparent;
    backdrop-filter: blur(10px);
    color: var(--base-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 5rem;
    width: 100vw;
    padding: 0.5rem 2rem;
    transition: all 1s linear;
}

.nav.top {
    top: -100%;
}

.imgCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 5rem;
    height: auto;
    border-radius: 50%;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: width 0.3s ease;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    z-index: 99;
}

.line {
    width: 2rem;
    height: 3px;
    background: var(--base-font);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.link {
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .links {
        gap: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .links {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        justify-content: start;
        padding-top: 20vh;
        font-size: 2rem;
        gap: 2rem;
        background: var(--bg-color);
        width: 0vw;
        overflow: hidden;
    }

    .hamburger.open ~ .links {
        width: 100vw;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.open .line:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }
    
    .hamburger.open .line:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
    }
}