.LoginComp {
    width: 100%;
    height: 100%;
}

.head {
    text-align: center;
    margin: 8px;
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headContent {
    width: fit-content;
    position: relative;
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 16px;
}

.headContent::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -8px;
    background: var(--gradient-primary);
}

.loginButton {
    background: var(--gradient-secondary);
    border: none;
    outline: none;
    width: 100%;
    font-size: var(--font-sm);
    padding: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow-secondary);
    color: var(--text-primary);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.loginButton::before{
    content: '';
    position: absolute;
    width: 10%;
    background: linear-gradient(90deg, transparent, var(--text-primary), transparent);
    left: 100%;
    height: 100%;
    top: 0;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.loginButton:hover::before {
    left: -10%;
}

.hr {
    width: 100%;
    color: var(--text-secondary);
    margin-bottom: 8px;
    margin-top: 8px;
}

.otherButtons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.btn {
    background: var(--gradient-secondary);
    border: none;
    outline: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: var(--font-xm);
    position: relative;
}

.btn::before {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background: var(--gradient-secondary);
    bottom: -4px;
    left: 0;
}

.btn:hover::before {
    width: 100%;
}

.change {
    margin-top: 8px;
    width: 100%;
    text-align: center;
    font-size: var(--font-xm);
}