.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input {
    font-size: var(--font-xs);
    padding: 8px;
    border-radius: 10px;
    border: 2px solid var(--accent-primary);
    margin: 8px;
    transition: all 0.3s ease;
    width: 75%;
}

.input:focus {
    transform: scale(1.03);
    border: 2px solid var(--accent-primary);
    outline: none;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.inputBox {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 512px) {
    .inputBox {
        width: 100%;
    }
}

.error {
    color: #ff0015;
    padding-left: 16px;max-width: 300px;
}