.hero {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  min-height: 500px;
  /* overflow: visible;
  overflow-x: hidden; */
}

.view1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.heroText {
  font-size: clamp(2.5rem, 5vw, 4rem);
  color: #fff;
  z-index: 10;
  text-transform: uppercase;
  text-align: center;
  width: 55%;
}

.blob {
  background: var(--primary-color);
  width: 30vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(20px);
  z-index: 1;
}

.modelLeft {
  position: absolute;
  left: 0;
  bottom: 1%;
  width: 20rem;
  height: 40vh;
  z-index: 2;
  pointer-events: auto;
}

.light1 {
  position: absolute;
  top: -35rem;
  left: 25%;

  width: 28rem;
  height: 60rem;

  background: radial-gradient(ellipse at center,
      rgba(33, 129, 255, 0.90) 20%,
      rgba(33, 129, 255, 0.55) 40%,
      rgba(33, 129, 255, 0.18) 65%,
      transparent 80%);

  filter: blur(120px);
  opacity: 1;
  z-index: 1;
  pointer-events: none;
  transform: rotate(30deg);
}

.light2 {
  position: absolute;
  top: -30rem;
  left: 45%;

  width: 40rem;
  height: 40rem;

  background: radial-gradient(ellipse at center,
      rgba(33, 129, 255, 0.90) 20%,
      rgba(33, 129, 255, 0.55) 40%,
      rgba(33, 129, 255, 0.18) 65%,
      transparent 80%);

  filter: blur(120px);
  opacity: 1;
  z-index: 1;
  pointer-events: none;
  transform: rotate(270deg);
}

.font {
  font-family: "ju", sans-serif;
  text-transform: capitalize;
}

.color {
  color: var(--primary-color);
}

.stats {
  color: var(--base-font);
  display: flex;
  justify-content: space-around;
  width: 80vw;
  opacity: 0;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.count {
  font-family: Helvetica;
  font-size: 2.5rem;
}

.detail {
  font-size: 1.5rem;
}

.light3 {
  position: absolute;
  top: 60vh;
  right: 20px;
  width: 50rem;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background:
    radial-gradient(circle at center,
      rgba(0, 38, 255, 0.15) 0%,
      rgba(0, 28, 120, 0.1) 25%,
      rgba(0, 5, 80, 0.06) 45%,
      rgba(0, 7, 40, 0.04) 60%,
      transparent 100%);
  filter: blur(10px);
  z-index: 19;

}

@media screen and (max-width: 768px) {
  .light1 {
    width: 15rem;
    height: 30rem;
    top: -10rem;
    left: 20%;
  }

  .light2 {
    width: 15rem;
    height: 15rem;
    top: -10rem;
    left: 60%;
  }

  .stats {
    width: 100vw;
  }

  .count {
    font-size: 1.5rem;
  }

  .detail {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .heroText {
    width: 100%;
  }

  .hero {
    height: 80vh;
  }

  .light1 {
    display: none;
  }

  .light2 {
    top: 1%;
    left: 30%;
    width: 20rem;
    height: 20rem;
  }

  .hero {
    padding-top: 10vh;
  }

  .stats {
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}


.rest {
  opacity: 0;
  display: inline-block;
}

.btnWrap {
  display: inline-block;
  z-index: 30;
}

.typingCursor {
  display: inline-block;
  padding-right: 6px;
  position: relative;
}

.cursorVisible::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 1.05em;
  background: var(--base-font);
  animation: blinkCursor 1s steps(1) infinite;
}

@keyframes blinkCursor {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.view1 {
  z-index: 25;
}